{%  extends "shared/base.html" %}

{% block head %}
<title>Finance Heatmap</title>
<link type="text/css" rel="stylesheet" href="/static/css/heatmap.css">
{% endblock %}

{% block content %}
<div id="sidebar">
    <div id="sidebar-state" style="display: none;">
        <h1 id="state-name"></h1>
        <div class="controls">
            <div class="group">
                <span class="label">Year</span>
                <select id="year-select-state">
                    <option value="current">2017</option>
                    <option value="overall">Overall</option>
                </select>
            </div>
            <div class="group">
                <svg id="party-graph" width="350" height="350" class="graph"></svg>
                <div id="party-key"></div>
            </div>
        </div>
    </div>
    <div id="sidebar-country" style="display: none;">
        <h1>Heatmap</h1>
        <span>Noah Kim</span>
        <p>
            Welcome to the interactive campaign donation heatmap! This tool allows you to take a look at donations on a
            larger scale. Select a viewing mode or click on a state to get started.
        </p>
        <div class="controls">
            <div id="year-control" class="group">
                <span class="label">Year</span>
                <select id="year-select">
                    <option value="current">2017</option>
                    <option value="overall">Overall</option>
                </select>
            </div>
            <div id="mode-control" class="group">
                <span class="label">Mode</span>
                <select id="mode-select">
                    <option>Gross donations</option>
                    <option>Donations per capita</option>
                    <option>Gross donations by party</option>
                </select>
            </div>
            <div id="party-control" class="group" style="display: none;">
                <span>Party</span>
                <select id="party-select">
                    <option>Loading...</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="/static/js/heatmap.js"></script>
{% endblock %}
