#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  background-color: #D1D1D3;
  background: linear-gradient(to right, #999, #E3E3E5);
  background: -webkit-linear-gradient(left, #CCC, #E3E3E5 2%);
  padding: 1em 1.5em;
  color: #393D3F;
  overflow: scroll;
}

#sidebar h1 {
  margin-top: 0;
}

#sidebar-country h1 {
  margin-bottom: 0;
}

#sidebar-country span {
  font-size: 20px;
}

.controls .label {
  font-size: 16px;
  display: block;
  margin-bottom: 4px;
}

.controls .group {
  margin-bottom: 16px;
}

.controls select {
  display: block;
  width: 100%;
}

.background {
  fill: #FDFDFF;
  pointer-events: all;
}

#states * {
  fill: transparent;
  background-clip: content-box;
  stroke: transparent;
  stroke-width: 2px;
  transition: fill 0.5s ease;
}

#states *.active {
  stroke: orange;
}

.patch {
  width: 10px;
  height: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

#state-borders {
  fill: none;
  stroke: #EEE;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

#party-key {
  text-align: center;
}

.key-line {
  display: inline-block;
  overflow: hidden;
  margin: 0 10px;
}

#land {
  fill: #CCCCCE;
}

.districts {
  fill: #CCCCCE;
}

.districts :hover {
  /* fill: orange;*/
}

#district-borders {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.arc text {
  font: 12px sans-serif;
  text-anchor: middle;
}

.arc path {

}

#--party-key {
  overflow: scroll;
  max-height: 175px;
}

#party-key table {
  width: 100%;
}

#sidebar > div {
  overflow: scroll;
}

#party-key table td {
  width: 50%
}

#party-key table td:first-of-type {
  text-align: right;
}

svg.graph {
  display: block;
  margin: auto;
}

