@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* { font-family: "Open Sans", sans-serif; }

body {
    color: #C0C0C0;
    background-color: #556270;
}

#top.container {
    margin-top: 65px;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

.toggle-sidebar-1:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

@keyframes slide-in {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
>>>>>>> Theming, basic UI, new visualisation page.
