{%  extends "shared/base.html" %}

{%  load staticfiles %}

{% block content %}

<svg width="960" height="500" style="border: 1px solid black;"/>
<form>
	<b>Year</b>: 
	<select name="years" id="yearSelect" onChange="yearChosen(this.value)">
	</select></br>
	
	<b>Race type</b>: 
	<select name="type" id="typeSelect" onChange="typeChosen(this.value)">
	</select></br>
	
	<b>State</b>: 
	<select name="states" id="stateSelect" onChange="stateChosen(this.value)">
	</select></br>
</form>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
/* Currently chosen year, race type, state, and district */
var chosenYear = "";
var chosenType = "";
var chosenState = "";
var chosenDistrict = "";

/* Get a set of races from the JS */
var raceOptions = {{ options|safe }};

/* Construct a set of dictionaries: year/type/state/district/csv */
var optionsDict = {};
for (var i = 0; i < raceOptions.length; i++)
{
	/* Handle the year */
	var yearDict = {};
	var year = raceOptions[i][0];
	
	if (year in optionsDict) yearDict = optionsDict[year];
	else optionsDict[year] = yearDict;
	
	/* Handle the race type */
	var typeDict = {};
	var type = raceOptions[i][1];
	
	if (type in yearDict) typeDict = yearDict[type];
	else yearDict[type] = typeDict;
	
	/* Handle the state */
	var stateDict = {};
	var state = raceOptions[i][2];
	
	if (state in typeDict) stateDict = typeDict[state];
	else typeDict[state] = stateDict;
	
	/* Handle the district (if applicable) */
	var district = raceOptions[i][3];
	stateDict[district] = raceOptions[i][4];
}

/* Add years to selector */
var years = Object.keys(optionsDict);

for (var i = years.length - 1; i >= 0; i--)
{
	/* Add to year selector */
	var yr = years[i];
	var yrOption = document.createElement("option");
	yrOption.text = yr;
	document.getElementById("yearSelect").add(yrOption, 0);
}

/* Make sure year selector has no default value */
document.getElementById("yearSelect").selectedIndex = -1;

/* Display all the data for a race */
function showRace(year, type, state, district)
{
	alert(year + " " + type + " " + state + " " + district);
	
	/* Get CSV path */
	csv = optionsDict[year][type][state][district];
	alert(csv);
}

/* Handle the selection of a year */
function yearChosen(yr)
{
	/* Update global state */
	chosenYear = yr;
	
	/* Load the options for race types */
	var types = Object.keys(optionsDict[chosenYear]);
	for (var i = types.length - 1; i >= 0; i--)
	{
		/* Get the type, and turn it into something readable */
		var type = types[i];
		if (type == "pres") type = "Presidential";
		
		/* Add to type selector */
		var typeOption = document.createElement("option");
		typeOption.text = type;
		document.getElementById("typeSelect").add(typeOption, 0);
	}
	
	/* Make sure type selector has no default value */
	document.getElementById("typeSelect").selectedIndex = -1;
}

/* Handle the selection of a race type */
function typeChosen(type)
{
	/* Update global state, after reconverting type */
	if (type == "Presidential") type = "pres";
	chosenType = type;
	
	/* Load the options for states */
	var states = Object.keys(optionsDict[chosenYear][chosenType]);
	for (var i = states.length - 1; i >= 0; i--)
	{
		/* Get the state */
		var state = states[i];
		
		/* Add to state selector */
		var stateOption = document.createElement("option");
		stateOption.text = state;
		document.getElementById("stateSelect").add(stateOption, 0);
	}
	
	/* Make sure state selector has no default value */
	document.getElementById("stateSelect").selectedIndex = -1;
}

/* Handle the selection of a state */
function stateChosen(state)
{
	/* Update global state (haha) */
	chosenState = state;
	
	/* If race type is presidential, Senate, or governor, automatically pick at-large district */
	if (chosenType == "pres" || chosenType == "senate" || chosenType == "governor")
	{
		/* Pick district */
		chosenDistrict = "atlarge";
		
		/* Remove district selector if it exists */
		/* TODO */
		
		/* Render race */
		showRace(chosenYear, chosenType, chosenState, chosenDistrict);
	}
	/* Otherwise, we need to spawn a new dropdown for districts */
	else
	{
		/* Create new dropdown menu for districts if it doesn't exist */
		/* TODO */
		
		/* Load the options for districts */
		var districts = Object.keys(optionsDict[chosenYear][chosenType][chosenState]);
		for (var i = districts.length - 1; i >= 0; i--)
		{
			/* Get the district */
			var district = districts[i];
			
			/* Add to district selector */
			var districtOption = document.createElement("option");
			districtOption.text = district;
			document.getElementById("districtSelect").add(districtOption, 0);
		}
		
		/* Make sure state selector has no default value */
		document.getElementById("districtSelect").selectedIndex = -1;
	}
}

</script>

{% endblock %}