{%  extends "shared/base.html" %}

{%  load staticfiles %}

{% block content %}

<svg width="960" height="500" style="border: 1px solid black;"/>
<form>
	<b>Year</b>: 
	<select name="years">
	</select></br>
	
	<b>Race type</b>: 
	<select name="type">
	</select></br>
	
	<b>State</b>: 
	<select name="years">
	</select></br>
</form>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
/* Get a set of races from the JS */
var raceOptions = {{ options|safe }};

/* Construct a set of dictionaries: year/type/state/district/csv */
var optionsDict = {};
for (var i = 0; i < raceOptions.length; i++)
{
	/* Handle the year */
	var yearDict = {};
	var year = raceOptions[i][0];
	
	if (year in optionsDict) yearDict = optionsDict[year];
	else optionsDict[year] = yearDict;
	
	/* Handle the race type */
	var typeDict = {};
	var type = raceOptions[i][1];
	
	if (type in yearDict) typeDict = yearDict[type];
	else yearDict[type] = typeDict;
	
	/* Handle the state */
	var stateDict = {};
	var state = raceOptions[i][2];
	
	if (state in typeDict) stateDict = typeDict[state];
	else stateDict[state] = stateDict;
	
	/* Handle the district (if applicable) */
	var district = raceOptions[i][3];
	stateDict[district] = raceOptions[i][4];
}

alert("Hi");

</script>

{% endblock %}